/* Document */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
  
  /* Sections */
  body {
    margin: 0;
  }
  
  /* Heading elements */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  /* Text-level elements */
  abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }
  
  /* Small text */
  small {
    font-size: 80%;
  }
  
  /* Sub and sup elements */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /* Forms */
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }
  
  /* Button */
  button,
  input {
    overflow: visible;
  }
  
  /* Adjust styles for buttons */
  button,
  select {
    text-transform: none;
  }
  
  /* Remove inner border */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /* Remove inner padding */
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /* Adjust textareas */
  textarea {
    overflow: auto;
  }
  
  /* Remove default styles */
  [hidden] {
    display: none;
  }
  